@charset "UTF-8";

body{
    background-color: blueviolet;
    background-image: url("../html/imagens/cev-landscape.jpg");
    background-position: left bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}